body {
  font-family: "Autour One";
  background-color: rgb(224, 225, 221);
  color: rgb(13, 27, 42);
}
h1 {
  text-align: center;
  border: 2px solid rgb(65, 90, 119);
  background-color: rgb(65, 90, 119);
  margin-bottom: 20px;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
