/* autour-one-regular - latin */
@font-face {
  font-family: "Autour One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/autour-one-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/autour-one-v24-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/autour-one-v24-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/autour-one-v24-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/autour-one-v24-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/autour-one-v24-latin-regular.svg#AutourOne") format("svg"); /* Legacy iOS */
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.question {
  padding: 40px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 200px;
  border: 5px solid red;
  border-radius: 10px;
}
.flex-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: ;
}
.hash {
  padding-left: 10px;
  border: 1px solid red;
}
.nav {
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  background-color: black;
  padding: 10px;
}
