@import url(./global.css);
@import url(./fonts.css);
@import url(./quizcard.css);
@import url(./button.css);
@import url(./nav_bar.css);

/* .answer {
  border: 2px solid rgb(34, 87, 122);
  padding: 2px;
  text-decoration: none;
} */

/* .picture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
} */
/* .image {
  border-radius: 50%;
  height: 150px;
} */
